{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>II4031 Kriptografi dan Koding - Tucil 03</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/03_digital_signature.css' %}">
{% endblock %}

{% block jquery %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#tucil").addClass("nav-active");
		$("#tucil_03").addClass("nav-active");
	})
</script>
{% endblock %}

{% block content %}
<div class="container">
	<header>
		<h1 class="color-purple">Digital Signature</h1>
		<p>Digital signature is a cryptographic value that depends on the contents of the message and key. The digital signature on a document will always be the same regardless of its contents, but the signature on a document will be different from signatures on other documents even though the sender and private key used are the same.</p>
	</header>
	<main class="pb-3">
		<form action="" method="POST" class="my-5" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="grid-header my-3">
				<div class="sidenotes p-3">
					<strong>NOTE</strong>
					<label>Define or generate your own prime P and Q numbers to get your encryption key and decryption key!</label>
				</div>
				<div class="generators">
					<div class="generator-field">
						<div class="generator my-3">
							<label class="btn bg-comment color-legend" onclick="generateKey('p')">Generate P</label>
							<input type="text" name="p" id="p" placeholder="Enter your P" value="{{ p }}" required>
						</div>
						<div class="generator my-3">
							<label class="btn bg-comment color-legend" onclick="generateKey('q')">Generate Q</label>
							<input type="text" name="q" id="q" placeholder="Enter your Q" value="{{ q }}" required>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="mb-3 form-group">
					<label for="form_file" class="form-label">Upload a file</label>
					{{ form.upload }}
				</div>
				<div class="form-group btn-group">
					<button type="submit" class="" id="btn-sign" name="submit_btn" value="sign">Sign</button>
					<button type="submit" class="" id="btn-verify" name="submit_btn" value="verify">Verify</button>
				</div>
			</div>
		</form>
		<small class="color-comment text-center d-block w-75 m-auto">I would highly recommend you to run this application from your local server since my website is using a free plan hosting that doesn't support file storing. Every uploaded file then will be stored on <b>media</b> folder.</small>
		{% if message_pos or message_neg %}
		<p class="text-center mt-5">
			<span class='color-green'>{{ message_pos }}</span>
			<span class='color-red'>{{ message_neg }}</span>
			{% for message in messages %}
				<small class="color-red">{{ message }}</small>
			{% endfor %}
		</p>
		{% endif %}

		{% if encryption_key and decryption_key %}
		<hr>
		<p>
			<span class='color-cyan'>Encryption Key: {{ encryption_key }}</span>&nbsp;//&nbsp;
			<span class='color-cyan'>Decryption Key: {{ decryption_key }}</span>&nbsp;//&nbsp;
			<span class='color-cyan'>P: {{ p }}</span>&nbsp;//&nbsp;
			<span class='color-cyan'>Q: {{ q }}</span>
			<small class="color-comment d-block w-75">All parameters are saved to <b>params.txt</b> in <b>media</b> folder.</small>
		</p>
		{% endif %}
	</main>
</div>
{% endblock %}

{% block js %}
<script>
	const getPrimes = (min, max) => {
		const result = Array(max + 1)
			.fill(0)
			.map((_, i) => i);
		for (let i = 2; i <= Math.sqrt(max + 1); i++) {
			for (let j = i ** 2; j < max + 1; j += i) delete result[j];
		}
		return Object.values(result.slice(Math.max(min, 2)));
	};
	
	const getRandNum = (min, max) => {
		return Math.floor(Math.random() * (max - min + 1) + min);
	}
	
	const getRandPrime = (min, max) => {
		const primes = getPrimes(min, max);
		return primes[getRandNum(0, primes.length - 1)]
	}
	
	const generateKey = (id) => {
		field = document.getElementById(id);
		field.value = getRandPrime(11, 1000);
	}
</script>
{% endblock %}