{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>II4031 Kriptografi dan Koding</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block jquery %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#home").addClass("nav-active");
	})
</script>
{% endblock %}

{% block content %}
<main class="bg-modifier">
	<div>
		<h1 class="color-purple">II4031 Kriptografi dan Koding</h1>
		<small class="color-comment">Website untuk memenuhi Tucil dan Tubes.</small>
		<p class="mt-5 text-center"><strong>NOTE</strong> Let's have a quick introduction by reading the <a href="{% url 'about' %}">about</a> page.</p>
	</div>
</main>
{% endblock %}